<sly-card title="Hyperparameters"
          subtitle="Task progress, detailed logs, metrics charts, and other visualizations"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed5"
          :disabled="{disabled: state.disabled5, message: 'complete stage 3'}"
          ref="step5"
>

    <div style="padding-top: 15px; padding-bottom: 10px">
        <sly-field title="General"

                   description="define general parameters">

            <sly-icon slot="icon" :options="{ color: '#4aa0f8', bgColor: '#ebf4fc', rounded: false }">
                <i class="zmdi zmdi-settings"></i>
            </sly-icon>

        </sly-field>
        <hr class="mt10 mb10" style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
        <!--        <div style="border-top: 1px dashed #cdcdcd;"></div>-->
    </div>

    <sly-field title="Experiment name">
        <el-input placeholder="output_experiment_name"
                  v-model="state.expId"
                  :disabled="data.done5"></el-input>
    </sly-field>


    <sly-field title="GPU device id"
               description="run nvidia-smi or check agent page to see how many devices your machine has or keep by default">
        <!--        <el-input v-model="state.gpusId" style="width:250px;"></el-input>-->
        <el-select v-model="state.gpus" :disabled="data.done5">
            <el-option key="0" label="0" value="0"></el-option>
            <!--            <el-option key="1" label="1" value="1"></el-option>-->
            <!--            <el-option key="2" label="2" value="2"></el-option>-->
            <!--            <el-option key="3" label="3" value="3"></el-option>-->
        </el-select>
    </sly-field>
    <sly-field title="Number of workers per GPU"
               description="maximum number of dataloader workers">
        <el-input-number v-model="state.numWorkers" :min="1" :disabled="data.done5"></el-input-number>
    </sly-field>


    <div style="padding-top: 15px; padding-bottom: 10px">
        <sly-field title="Train"

                   description="define train parameters">

            <sly-icon slot="icon" :options="{ color: '#4aa0f8', bgColor: '#ebf4fc', rounded: false }">
                <i class="zmdi zmdi-graduation-cap"></i>
            </sly-icon>

        </sly-field>
        <hr class="mt10 mb10" style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
        <!--        <div style="border-top: 1px dashed #CDCDCDFF;"></div>-->
    </div>

    <sly-field title="Number of epochs">
        <el-input-number v-model="state.numEpochs" :min="1" :max="10000" :disabled="data.done5"></el-input-number>
    </sly-field>
    <sly-field title="Learning rate">
        <el-input-number v-model="state.lr" :min="0" :step="0.0005" :debounce="1000"
                         :disabled="data.done5"></el-input-number>
    </sly-field>

    <sly-field title="Learning rate step">
        <el-input-number v-model="state.lrStep" :min="1" :step="1" :max="state.epochs"
                         :disabled="data.done5"></el-input-number>
    </sly-field>
    <sly-field title="Batch size per GPU"
               description="number of samples for a single GPU">
        <el-input-number v-model="state.batchSize" :min="4" :disabled="data.done5"></el-input-number>
    </sly-field>

    <sly-field title="Master batch size"
               description="batch size on the master GPU">
        <el-input-number v-model="state.batchSize" :min="4" :disabled="data.done5"></el-input-number>
    </sly-field>

    <sly-field title="Save model interval"
               description="save model every">
        <div class="fflex">
            <!--            <span class="mr5">Evaluate validation set every </span>-->
            <el-input-number v-model="state.saveInterval" :min="1" :max="state.epochs"
                             :disabled="data.done5"></el-input-number>
            <span class="ml5">epoch</span>
        </div>
    </sly-field>


    <div style="padding-top: 15px; padding-bottom: 10px">
        <sly-field title="Validation"

                   description="define validation parameters">

            <sly-icon slot="icon" :options="{ color: '#4aa0f8', bgColor: '#ebf4fc', rounded: false }">
                <i class="zmdi zmdi-ruler"></i>
            </sly-icon>

        </sly-field>
        <hr class="mt10 mb10" style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
        <!--        <div style="border-top: 1px dashed #CDCDCDFF;"></div>-->
    </div>

    <sly-field title="Validation interval"
               description="evaluate model every">
        <div class="fflex">
            <!--            <span class="mr5">Evaluate validation set every </span>-->
            <el-input-number v-model="state.valInterval" :min="1" :max="state.epochs"
                             :disabled="data.done5"></el-input-number>
            <span class="ml5">epoch</span>
        </div>
    </sly-field>

    <sly-field title="K"
               description="max number of output objects">
        <div class="fflex">
            <!--            <span class="mr5">Evaluate validation set every </span>-->
            <el-input-number v-model="state.K" :min="1" :max="500"
                             :disabled="data.done5"></el-input-number>
        </div>
    </sly-field>

    <sly-field title="Detection threshold"
               description="boxes threshold on validation">
        <div class="fflex">
            <!--            <span class="mr5">Evaluate validation set every </span>-->
            <el-input-number v-model="state.detThres" :min="0" :max="1" :step="0.1"
                             :disabled="data.done5"></el-input-number>
        </div>
    </sly-field>

    <div style="padding-top: 15px; padding-bottom: 10px">
        <sly-field title="Loss"

                   description="define loss parameters">

            <sly-icon slot="icon" :options="{ color: '#4aa0f8', bgColor: '#ebf4fc', rounded: false }">
                <i class="zmdi zmdi-trending-down"></i>
            </sly-icon>

        </sly-field>
        <hr class="mt10 mb10" style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
        <!--        <div style="border-top: 1px dashed #CDCDCDFF;"></div>-->
    </div>

    <sly-field title="HM weight"
               description="loss weight for keypoint heatmaps">
        <el-input-number v-model="state.hmWeight" :min="0" :step="0.1" :disabled="data.done5"></el-input-number>
    </sly-field>
    <sly-field title="OFF weight"
               description="loss weight for keypoint local offsets">
        <el-input-number v-model="state.offWeight" :min="0" :max="1" :step="0.1" :disabled="data.done5"></el-input-number>
    </sly-field>
    <sly-field title="WH weight"
               description="loss weight for bounding box size">
        <el-input-number v-model="state.whWeight" :min="0" :max="1" :step="0.1" :disabled="data.done5"></el-input-number>
    </sly-field>
    <sly-field title="ID weight"
               description="loss weight for id">
        <el-input-number v-model="state.idWeight" :min="0" :max="1" :step="0.1" :disabled="data.done5"></el-input-number>
    </sly-field>

    <sly-field title="RE-ID dimension"
               description="feature dim for re-id">
        <el-input-number v-model="state.reidDim" :min="1" :max="1024" :disabled="data.done5"></el-input-number>
    </sly-field>

    <sly-field title="LTRB"
               description="regress left, top, right, bottom of bbox">
        <el-switch v-model="state.ltrb"
                   style="padding: 10px"
                   on-color="#13ce66" off-color="#B8B8B8"
                   on-text=""
                   off-text=""
                   :disabled="data.done5">
        </el-switch>
    </sly-field>


    <el-button type="primary" class="regular mt10"
               @click="command('use_hyp')"
               v-if="!data.done5">
        Apply settings
    </el-button>
    <div v-if="data.done5">
        <i class="zmdi zmdi-check-circle mr5 mt10" style="color: #13ce66"></i>
        <span style="color: #5a6772;">Hyperparameters has been successfully defined</span>
    </div>
    <el-button type="warning" class="regular mt10" :plain="true"
               @click="state.restartFrom = 5;"
               v-if="data.done5 && !state.started">
        <i class="zmdi zmdi-rotate-left mr5"></i> reselect
    </el-button>
</sly-card>
