<sly-card title="Training progress"
          subtitle="Task progress, detailed logs, metrics charts, and other visualizations"
          ref="step5"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed5"
          :disabled="{disabled: state.disabled5, message: 'complete stage 4'}">
    <el-button v-if="!state.done5"
               type="primary" class="regular"
               @click="state.trainStarted = true; command('train')"
               :loading="state.trainStarted === true"
    >
        <i class="zmdi zmdi-play mr5"></i> Train
    </el-button>


    <div v-if="data.outputUrl" class="mt15">
        <sly-field title="Training artifacts"
                   description="Training artifacts has been uploaded to Team Files">
            <a slot="title" target="_blank" :href="`${data.outputUrl}`">{{data.outputName}}</a>
            <sly-icon slot="icon" :options="{ color: '#33c94c', bgColor: '#d9f7e4', rounded: false }">
                <i class="zmdi zmdi-folder"></i>
            </sly-icon>
        </sly-field>
        <div>
            <i class="zmdi zmdi-check-circle mr5" style="color: #13ce66"></i>
            <span style="color: #5a6772;">Training has been successfully finished</span>
        </div>
    </div>

    <div v-if="data.progressUploadDir || data.progressTrainInfo || data.progressEpoch || data.progressIter" style="padding-top: 20px">
        <div v-if="data.progressUploadDir && !data.outputUrl" class="mt10">
            <div style="color: #20a0ff">
                {{data.progressUploadDir}}: {{data.progressCurrentUploadDir}} / {{data.progressTotalUploadDir}}
            </div>
            <el-progress :percentage="data.progressPercentUploadDir"></el-progress>
        </div>
        <div v-if="data.progressTrainInfo" class="mt10">
            <div style="color: #20a0ff">
                {{data.progressTrainInfo}}: {{data.progressCurrentTrainInfo}} / {{data.progressTotalTrainInfo}}
            </div>
            <el-progress :percentage="data.progressPercentTrainInfo"></el-progress>
        </div>
        <div v-if="data.progressEpoch" class="">
            <div style="color: #20a0ff">
                {{data.progressEpoch}}: {{data.progressCurrentEpoch}} / {{data.progressTotalEpoch}}
            </div>
            <el-progress :percentage="data.progressPercentEpoch"></el-progress>
        </div>
        <div v-if="data.progressIter" class="mt10">
            <div style="color: #20a0ff">
                {{data.progressIter}}: {{data.progressCurrentIter}} / {{data.progressTotalIter}}
            </div>
            <el-progress :percentage="data.progressPercentIter"></el-progress>
        </div>
    </div>


    <sly-field v-if="data.etaIter" class="mt15 mb15" style="padding-top: 14px"
               title="ETA total | current epoch"
               description="Gives an estimate of roughly how long training process will take">
        <b style="color: #20a0ff"><i class="zmdi zmdi-time-countdown mr5"></i>{{data.etaEpoch}} | {{data.etaIter}}</b>
    </sly-field>

    <div class="mt15" v-if="state.trainStarted === true || state.done5">
        <hr class="mt10 mb15" style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
        <sly-field title="Smoothing" description="Change the smoothing of line charts">
            <sly-icon slot="icon" :options="{ color: '#4aa0f8', bgColor: '#ebf4fc', rounded: false }">
                <i class="zmdi zmdi-gesture"></i>
            </sly-icon>
            <!--            data.chartLR.options.smoothingWeight = val;-->
            <el-slider
                    :value="state.smoothing"
                    :min="0" :max="0.95" :step="0.05" show-input
                    style="width: 450px;"
                    @input="(val)=>{
                                state.smoothing = val;
                                data.chartTrainLoss.options.smoothingWeight = val;
                                data.chartValAccuracy.options.smoothingWeight = val;
                            }"
            >
            </el-slider>
        </sly-field>

        <sly-field title="Training charts" description="real-time training metrics">
            <div class="fflex">

                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartLoss.options"
                        :content="data.chartLoss.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartHmLoss.options"
                        :content="data.chartHmLoss.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartWhLoss.options"
                        :content="data.chartWhLoss.series">
                </sly-line-chart>

                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartOffLoss.options"
                        :content="data.chartOffLoss.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartIdLoss.options"
                        :content="data.chartIdLoss.series">
                </sly-line-chart>

            </div>
        </sly-field>


        <sly-field title="Validation charts" description="real-time validation metrics">
            <div class="fflex">

                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartValPrecision.options"
                        :content="data.chartValPrecision.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartValRecall.options"
                        :content="data.chartValRecall.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartValMap.options"
                        :content="data.chartValMap.series">
                </sly-line-chart>


            </div>
        </sly-field>


        <sly-field v-if="data.galleryPreview" title="Preview predictions on validation data"
                   description="real-time validation predictions">
            <div class="mt10 mb10 ml10 mr10" v-if="data.previewPredLinks.length > 0">

                <div class="block">
                    <div><b>visualization epoch</b></div>
                    <el-slider

                            v-model="state.currEpochPreview"

                            show-stops
                            :min="state.valInterval"
                            :max="data.previewPredLinks.length * state.valInterval"
                            :step="state.valInterval"
                            :disabled="data.previewPredLinks.length < 2"
                            @change="command('previewByEpoch')"

                    >

                    </el-slider>
                </div>
            </div>
            <sly-grid-gallery
                    class="mt10"

                    :content="data.galleryPreview.content"
                    :options="data.galleryPreview.options">
                <template v-slot:card-footer="{ annotation }">
                    <div class="mt5" style="text-align: center">
                        <el-tag type="primary">{{ annotation.title }}</el-tag>
                    </div>
                </template>
            </sly-grid-gallery>
        </sly-field>

        <!--        <sly-field title="System metrics" description="Time and memory">-->
        <!--            <div class="fflex">-->
        <!--                <sly-line-chart-->
        <!--                        style="width: 33%;"-->
        <!--                        :options.sync="data.chartTime.options"-->
        <!--                        :content="data.chartTime.series">-->
        <!--                </sly-line-chart>-->
        <!--                <sly-line-chart-->
        <!--                        style="width: 33%;"-->
        <!--                        :options.sync="data.chartDataTime.options"-->
        <!--                        :content="data.chartDataTime.series">-->
        <!--                </sly-line-chart>-->
        <!--                <sly-line-chart-->
        <!--                        style="width: 33%;"-->
        <!--                        :options.sync="data.chartMemory.options"-->
        <!--                        :content="data.chartMemory.series">-->
        <!--                </sly-line-chart>-->
        <!--            </div>-->
        <!--        </sly-field>-->
    </div>
</sly-card>